@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%, 55%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    border: none;
}

fieldset {
    border: none;
}

img {
    max-width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--white);
}

.description {
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--light-grey);
}